.capabilities__fishka {
    position: absolute;
    background-image: url(../../../images/capabilities__fishka.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 122px;
    height: 122px;
    top: 103px;
    left: 1370px;
    transform: scale(1.3);

}