.capabilities__fishka {
    position: absolute;
    background-image: url(../../../images/capabilities__fishka.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 113px;
    height: 183px;
    top: 103px;
    right: 0;

}