.questions__fishka {
    position: absolute;
    background-image: url(../../../images/questions__fishka.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 122px;
    height: 122px;
    top: 688px;
    left: 10px;
    transform: scale(1.3);
}