.benefits__item {
    width: 300px;
    min-height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-top: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}