.instruction__ballons {
    position: absolute;
    background-image: url(../../../images/page__ballons.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 301px;
    top: -92px;
    right: 0;

}